<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <!---    <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons> --> 

    <div>
      <ion-row nowrap align-items-start>
       
        <ion-title><b>
          CarPooling</b>
        </ion-title>

        <ion-row nowrap align-items-start>
          <ion-button color="light" slot="end" (click)="goInfoPost()">
            <ion-icon color="primary" name="albums"></ion-icon>
          </ion-button>
          <ion-button color="light" slot="end" (click)="goInfoSearch()">
            <ion-icon color="primary" name="create"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-row>
    </div>

  </ion-toolbar>

</ion-header>

<ion-content padding>
    
  
</ion-content>