.header{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: white;
}
.bg_class{
  --ion-background-color: #e4eaf7!important;
       // --background: linear-gradient(180deg,#b4c7f1 30%, rgb(87, 154, 255) 70%) !important;
      color:white;
}
div{
    //  background-color: #c2b64e;
    //  background-size: cover;
    //  background: linear-gradient(160deg,#e2e2e2e8 30%,#635e5e 70%);
      width: 100%!important;
      background-size: cover!important;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
     // height: 100%!important;
  }
  ion-item{
    --background: transparent;
    text-size-adjust: ion-label;
    --ion-color-base: transparent !important;
  }
  .sdes{
    background: #368cfc!important;
    //border: 15px;
  
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

      box-sizing: border-box;
  width: 100%;
  border: solid #4493fa 2px;
  
      color:white!important;
    display: block;
     position: relative;
     
   
      font-size: 15px;
  }
  .save
  {
    background: #368cfc!important;
    //border: 15px;
  
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
   
      
    box-sizing: border-box;
    width: 20%;
    border: solid #3f92ff 2px;
      color:#fcfcfc!important;
     
      font-size: 15px;
      position: relative;
      //padding-top: 5px;
       
       // padding-left: 20px;
       top:10%;
       left:40%;
       right:35% ;
        //margin-top: 50px;
  }
  
  ion-button:click{
    border:2px solid #85afe6;
  }
  
  .placeholder-text{

    font-size: 1.0em;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    padding-top:7px; 
    }
    

  ion-searchBar{
    border-left: 3px solid #368cfc;
   
    background-origin: shadow 20px #0c229e;
    //border-top: 5px solid #0059ff; 
      }
     ion-card-content{
      background: #368cfc!important;
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font: bold;
      font-size: 20px;
      button{
        background: #fcfcfc;
        color: #060ae0;
        font: bold;
        font-size: 25px;
        
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      
        border: solid #c8dcf7 2px;
      display: block;
   
    margin-right: 0%;

    position: relative!important;
  
    left:55%!important;
    
    


        //top:80%;
        
      }

    }