<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header">
      REQUEST RIDE
    </ion-title>
  </ion-toolbar>
  

</ion-header>

<ion-content class="bg_class" padding fullscreen>
  <div class="info_bg">

    <!--    <div *ngFor="let animal of filteredAnimals"> </div> -->
          
        

    <ion-item lines="none">
      <ion-col>
        <ion-row>
          <ion-searchbar id="start" [(ngModel)]="search.start" [(ngModel)]="autocomplete.input" 
            (ionInput)="updateSearchResults()" placeholder="Search for Source" [showCancelButton]="shouldShowCancel" [(ngModel)]="dec1"></ion-searchbar>
        </ion-row>

        <ion-row>
          <ion-list [hidden]="autocompleteItems.length == 0">
            <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
              {{ item.description }}
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-col>
    </ion-item>
    <ion-item lines="none">
      <ion-col>
        <ion-row>
          <ion-searchbar id="dest"  [(ngModel)]="search.end" [(ngModel)]="autocomplete2.input" 
            (ionInput)="updateSearchResults2()" placeholder="Search for destination" [showCancelButton]="shouldShowCancel" [(ngModel)]="dec2"></ion-searchbar>
        </ion-row>

        <ion-row>
          <ion-list [hidden]="autocompleteItems2.length == 0">
            <ion-item *ngFor="let item of autocompleteItems2" tappable (click)="selectSearchResult2(item)">
              {{ item.description }}
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-col>
    </ion-item>
    <!--  
      <ion-item lines="none">
      <ion-button class="sdes" color="white" expands="full" routerLink="/map" ><b>Choose Source and Destination</b></ion-button>
      </ion-item>
      -->
    <!--
    <ion-item>
      <ion-label>Source&nbsp;</ion-label>
      <ion-input required type="text" placeholder="Source Location" [(ngModel)]="todo.start"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Destination&nbsp;</ion-label>
      <ion-input required type="text" placeholder="Destination" [(ngModel)]="todo.end"></ion-input>
    </ion-item>
      -->
    <ion-item lines="none">
      <ion-label>Source&nbsp;</ion-label>
      <ion-input class="placeholder-text" requiredrequired type="text" placeholder="Source Location" [(ngModel)]="dec1" [(ngModel)]="search.start"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Destination&nbsp;</ion-label>
      <ion-input class="placeholder-text" required required type="text" placeholder="Destination" [(ngModel)]="dec2" [(ngModel)]="search.end"></ion-input>
    </ion-item>

    <ion-item required lines="none">
      <ion-label>date&nbsp;</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="date1" [(ngModel)]="search.date"></ion-datetime>

   </ion-item>

    <ion-item lines="none">
      <ion-label>Time&nbsp;</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="search.time"></ion-datetime>
 </ion-item>

    <ion-item required lines="none">
      <ion-label>Seats&nbsp;</ion-label>
      <ion-input class="placeholder-text" required type="number" placeholder="Seats Required" [(ngModel)]="search.seat"></ion-input>
    </ion-item>

    <ion-button color="white" class="save" expands="full" (click)="saveSearch()"><b>FIND</b></ion-button>
   
    <div *ngFor="let note of posts|async">
     <h6>{{note.date}}</h6>
    
     <ion-card>
            
      <ion-card-content>
          
          <ul>
              <li>Name of Rider: {{note.name}}</li>
              <li>Contact Number: {{note.mobile}}</li>
            <li>Source: {{note.start}}</li>
            <li>Destination: {{note.end}} </li>
            <li>Seats: {{note.seat}}</li>
            <li>Time: {{note.time}}</li>
          </ul>
          <button ion-button outline (click)="alert()" item-end icon-start>
              <ion-icon name="thumbs-up"></ion-icon>
              Book Now !!
            </button>
        </ion-card-content>
      </ion-card>
          </div>
          

          <div *ngFor="let note of feedItem|async">
            <h6>{{note.date}}</h6>
           

                <ul>
                  <li>name: {{note.name}}</li>
                 <li>start: {{note.start}}</li>
                 <li>dest: {{note.end}} </li>
                 <li>seat: {{note.seat}}</li>
                 <li>time: {{note.time}}</li>
               </ul>
               
           
            
           


                 
       
                 </div>
               

        </div>
 
  

  

</ion-content>
<!--
<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  -->
<!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
 
</ion-content> -->